In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('kidney_disease_train.csv')

In [4]:
df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,157,62.0,70.0,1.025,3.0,0.0,normal,abnormal,notpresent,notpresent,...,39.0,7900,3.9,yes,yes,no,good,no,no,ckd
1,109,54.0,70.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,no,yes,no,good,no,no,ckd
2,17,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,yes,no,no,poor,no,no,ckd
3,347,43.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,43.0,7200,5.5,no,no,no,good,no,no,notckd
4,24,42.0,100.0,1.015,4.0,0.0,normal,abnormal,notpresent,present,...,39.0,8300,4.6,yes,no,no,poor,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,71,46.0,60.0,1.010,1.0,0.0,normal,normal,notpresent,notpresent,...,28.0,14600,3.2,yes,yes,no,good,no,no,ckd
276,106,50.0,90.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,17.0,6500,NaN,yes,yes,no,good,yes,yes,ckd
277,270,23.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,41.0,7200,5.0,no,no,no,good,no,no,notckd
278,348,38.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,44.0,7300,6.4,no,no,no,good,no,no,notckd
279,102,17.0,60.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,52.0,7000,NaN,no,no,no,good,no,no,ckd

In [5]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,157,62.0,70.0,1.025,3.0,0.0,normal,abnormal,notpresent,notpresent,...,39.0,7900,3.9,yes,yes,no,good,no,no,ckd
1,109,54.0,70.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,no,yes,no,good,no,no,ckd
2,17,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,yes,no,no,poor,no,no,ckd
3,347,43.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,43.0,7200,5.5,no,no,no,good,no,no,notckd
4,24,42.0,100.0,1.015,4.0,0.0,normal,abnormal,notpresent,present,...,39.0,8300,4.6,yes,no,no,poor,no,no,ckd

In [6]:
df.head(10)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,157,62.0,70.0,1.025,3.0,0.0,normal,abnormal,notpresent,notpresent,...,39.0,7900,3.9,yes,yes,no,good,no,no,ckd
1,109,54.0,70.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,no,yes,no,good,no,no,ckd
2,17,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,yes,no,no,poor,no,no,ckd
3,347,43.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,43.0,7200,5.5,no,no,no,good,no,no,notckd
4,24,42.0,100.0,1.015,4.0,0.0,normal,abnormal,notpresent,present,...,39.0,8300,4.6,yes,no,no,poor,no,no,ckd
5,175,60.0,50.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,NaN,4200,3.4,yes,no,no,good,no,no,ckd
6,351,29.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,40.0,9900,4.7,no,no,no,good,no,no,notckd
7,332,34.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,44.0,10500,6.1,no,no,no,good,no,no,notckd
8,167,34.0,70.0,1.020,0.0,0.0,abnormal,normal,notpresent,notpresent,...,42.0,2200,NaN,no,no,no,poor,no,no,ckd
9,245,48.0,100.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,19.0,7200,2.6,yes,no,yes,poor,no,no,ckd

In [7]:
df.tail()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
275,71,46.0,60.0,1.010,1.0,0.0,normal,normal,notpresent,notpresent,...,28.0,14600,3.2,yes,yes,no,good,no,no,ckd
276,106,50.0,90.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,17.0,6500,NaN,yes,yes,no,good,yes,yes,ckd
277,270,23.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,41.0,7200,5.0,no,no,no,good,no,no,notckd
278,348,38.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,44.0,7300,6.4,no,no,no,good,no,no,notckd
279,102,17.0,60.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,52.0,7000,NaN,no,no,no,good,no,no,ckd

In [8]:
df.tail(20)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
260,257,38.0,60.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,46.0,9100,5.8,no,no,no,good,no,no,notckd
261,308,43.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,48.0,6900,4.9,no,no,no,good,no,no,notckd
262,149,65.0,70.0,1.020,1.0,0.0,abnormal,abnormal,notpresent,notpresent,...,32.0,NaN,NaN,yes,no,no,good,yes,no,ckd
263,130,50.0,90.0,1.010,2.0,0.0,normal,abnormal,present,present,...,22.0,16300,2.7,no,no,no,poor,yes,yes,ckd
264,151,76.0,90.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,30.0,NaN,NaN,yes,yes,no,good,no,yes,ckd
265,359,74.0,60.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,53.0,6000,4.5,no,no,no,good,no,no,notckd
266,99,56.0,180.0,NaN,0.0,4.0,NaN,abnormal,notpresent,notpresent,...,32.0,10400,4.2,yes,yes,no,poor,yes,no,ckd
267,372,72.0,60.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,52.0,10500,5.5,no,no,no,good,no,no,notckd
268,87,70.0,100.0,1.005,1.0,0.0,normal,abnormal,present,notpresent,...,32.0,5800,5,yes,yes,no,poor,no,no,ckd
269,330,43.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,42.0,NaN,NaN,no,no,no,good,no,no,notckd
270,214,68.0,80.0,1.015,0.0,0.0,NaN,abnormal,notpresent,notpresent,...,43.0,4900,5.2,no,yes,no,good,no,no,ckd
271,121,54.0,60.0,NaN,3.0,NaN,NaN,NaN,notpresent,notpresent,...,46.0,NaN,NaN,yes,yes,no,good,yes,no,ckd
272,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53.0,6800,6.1,no,no,no,good,no,no,notckd
273,20,61.0,80.0,1.015,2.0,0.0,abnormal,abnormal,notpresent,notpresent,...,24.0,9200,3.2,yes,yes,yes,poor,yes,yes,ckd
274,188,8.0,NaN,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,38.0,NaN,NaN,no,\tno,no,good,no,no,ckd
275,71,46.0,60.0,1.010,1.0,0.0,normal,normal,notpresent,notpresent,...,28.0,14600,3.2,yes,yes,no,good,no,no,ckd
276,106,50.0,90.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,17.0,6500,NaN,yes,yes,no,good,yes,yes,ckd
277,270,23.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,41.0,7200,5.0,no,no,no,good,no,no,notckd
278,348,38.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,44.0,7300,6.4,no,no,no,good,no,no,notckd
279,102,17.0,60.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,52.0,7000,NaN,no,no,no,good,no,no,ckd

In [9]:
df.shape

(280, 26)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              280 non-null    int64
 1   age             275 non-null    float64
 2   bp              271 non-null    float64
 3   sg              244 non-null    float64
 4   al              245 non-null    float64
 5   su              242 non-null    float64
 6   rbc             173 non-null    object
 7   pc              230 non-null    object
 8   pcc             276 non-null    object
 9   ba              276 non-null    object
 10  bgr             247 non-null    float64
 11  bu              266 non-null    float64
 12  sc              268 non-null    float64
 13  sod             213 non-null    float64
 14  pot             212 non-null    float64
 15  hemo            241 non-null    float64
 16  pcv             229 non-null    float64
 17  wc              203 non-null    object
 18  rc              187 non-null    object
 19  htn             279 non-null    object
 20  dm              279 non-null    object
 21  cad             279 non-null    object
 22  appet           280 non-null    object
 23  pe              280 non-null    object
 24  ane             280 non-null    object
 25  classification  280 non-null    object
dtypes: float64(12), int64(1), object(13)
memory usage: 57.0+ KB

In [12]:
df.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv               float64
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [13]:
df.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv
count,280.000000,275.000000,271.000000,244.000000,245.000000,242.000000,247.000000,266.000000,268.000000,213.000000,212.000000,241.000000,229.000000
mean,202.928571,51.454545,76.051661,1.017439,1.024490,0.438017,150.186235,56.983835,3.006157,137.255869,4.754245,12.531535,39.165939
std,111.988168,17.476176,14.256289,0.005746,1.375805,1.073193,77.357144,51.456635,5.850085,11.677123,3.826341,2.882635,8.774388
min,1.000000,2.000000,50.000000,1.005000,0.000000,0.000000,70.000000,10.000000,0.400000,4.500000,2.700000,3.100000,9.000000
25%,110.500000,42.000000,70.000000,1.010000,0.000000,0.000000,100.000000,27.250000,0.900000,135.000000,3.900000,10.500000,33.000000
50%,202.000000,55.000000,70.000000,1.020000,0.000000,0.000000,124.000000,41.000000,1.300000,138.000000,4.400000,12.700000,41.000000
75%,302.250000,65.000000,80.000000,1.020000,2.000000,0.000000,171.500000,64.750000,2.800000,141.000000,4.900000,14.900000,46.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000,54.000000